    <% data.forEach(function(user){ %>
    <div class="card">
      <div class="card-header">
        <%= user.user %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= user.service_name %></h5>
        <p class="card-text">Address:  <%= user.address %></p>
        <button data-uid = "<%= user.user_id %>" data-servicename = "<%= user.service_name %>"
          data-sid = "<%= user.id %>" data-servid = "<%= user.service_id %>" type="button" class="btn btn-primary inquire" data-toggle="modal" data-target=".modal">Schedule an appointment</button>
        </div>
      </div>
    </div>
    <% }); %>
