<!DOCTYPE html>
<html lang="en">
<head>
  <title>TrabaWho</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
  <link rel="stylesheet" href="/assets/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/jquery-ui.css">
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/assets/css/mediaelementplayer.css">
  <link rel="stylesheet" href="/assets/css/animate.css">
  <link rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/assets/css/fl-bigmug-line.css">

  
  <link rel="stylesheet" href="/assets/css/aos.css">

  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/modal.css">
  <script src="/assets/js/jquery-3.3.1.min.js"></script>

</head>
<body>
  <div class="site-wrap">

   <div style="background-image: url('/assets/images/hero_bg_3.jpg');" class="site-navbar">
    <div class="container py-1">
      <div class="row align-items-center">
        <div class="col-8 col-md-8 col-lg-4">
          <h1 class="mb-0"><a href="#" class="text-black h2 mb-0"><strong>Traba<span class="text-primary">Who</span></strong></a></h1>
        </div>
        <div class="col-4 col-md-4 col-lg-8">
          <!-- Include navigation -->
          <% include partials/nav.ejs %>
        </div>


      </div>
    </div>
  </div>

  <form action="/updateprofile" method="POST" class="p-5 bg-white">
    <div class="row form-group mt-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <label class="font-weight-bold" for="fullname">First Name</label>
        <input type="text" id="fullname" name="firstname" value="<%= data.user_fname%>" class="form-control" placeholder="Full Name">
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <label class="font-weight-bold" for="fullname">Last Name</label>
        <input type="text" id="fullname" name="lastname" value="<%= data.user_lname%>" class="form-control" placeholder="Full Name">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 ">
        <label class="font-weight-bold" for="email">Email</label>
        <input type="email" id="email" name="email" value="<%= data.email%>" class="form-control" placeholder="Email Address">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 ">
        <label class="font-weight-bold" for="Address">Address</label>
        <input type="text" id="address" name="address" value="<%= data.address%>" class="form-control" placeholder="Address">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 ">
        <label class="font-weight-bold" for="Address">Contact Number</label>
        <input type="text" id="contact" name="contact" value="<%= data.contact_no%>" class="form-control" placeholder="Contact Number">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4 ">
        <label class="font-weight-bold" for="Address">Username</label>
        <input type="text" id="username" name="username" value="<%= data.user_name%>" class="form-control" placeholder="Username">
      </div>
    </div>
    <button data-toggle="modal" data-target="#changepass" type="button" value="<%= data.user_id%>" class="btn btn-danger">Change Password</button>
    <button type="submit" name="userid" value="<%= data.user_id%>" class="btn btn-primary">Save</button>
  </form>
</div>

  <% include modals/changepass.ejs %>


<div class="bg-primary" data-aos="fade">

  <% include partials/footer.ejs %>
  
</div>




<script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/mediaelement-and-player.min.js"></script>
<script src="/assets/js/jquery.stellar.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/aos.js"></script>
<script src="/assets/js/circleaudioplayer.js"></script>

<script src="/assets/js/main.js"></script>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/custom.js"></script>
<script type="text/javascript" src='/assets/js/steps.js'></script>
</body>
</html>